@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default style */
:root {
  font-family: "Space Grotesk", system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: dark light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:focus {
  outline: none;
}

.inter-font {
  font-family: Inter, sans-serif;
}


:root {
  @apply selection:bg-primary-500 selection:text-slate-950
}

h1 {
  @apply text-6xl font-medium;
}
h2 {
  @apply text-4xl font-medium;
}
h3 {
  @apply text-3xl font-medium;
}
h4 {
  @apply text-2xl;
}
h5 {
  @apply text-base;
}
p {
  @apply text-sm;
}
span {
  @apply text-sm;
}

/* Color scheme */
.content {
  @apply h-svh bg-neutral-50 text-slate-950 dark:bg-slate-950 dark:text-neutral-50;
}

/* Component */
.input-component {
  @apply h-16 px-6;
}
.input-container {
  @apply h-16 pl-6;
}
.input-field {
  @apply bg-transparent w-full;
}
.input-button {
  @apply text-slate-950 dark:text-neutral-50 dark:hover:text-primary-600 hover:text-primary-700 z-10 p-4 rounded-xl;
}

/* Style */
.secondary-color {
  @apply bg-transparent border border-slate-950 dark:border-neutral-50 rounded-xl hover:border-2 hover:border-primary-700 dark:hover:border-primary-700 focus-within:border-primary-600 dark:focus-within:border-primary-600 focus-within:border-2;
}
.tertiary-color {
  @apply bg-slate-950 dark:bg-neutral-50 dark:hover:bg-neutral-300 text-neutral-50 dark:text-slate-950 h-16 rounded-xl hover:bg-slate-800;
}
.toggle-color:hover {
  @apply bg-slate-950 text-neutral-50 dark:bg-neutral-50 dark:text-slate-950
}

.emphasis-primary {
  @apply text-primary-700 hover:text-primary-800 dark:text-primary-400 dark:hover:text-primary-600;
}
.emphasis-blue {
  @apply text-blue-700 hover:text-blue-800 dark:text-blue-400 dark:hover:text-blue-600;
}

.hover-emphasis-primary {
  @apply hover:text-primary-700 dark:hover:text-primary-400;
}
.hover-emphasis-blue {
  @apply hover:text-blue-700 dark:hover:text-blue-400;
}